/.idea/.idea.PlatformService.dir/.idea/indexLayout.xml
/obj/Debug/net8.0/PlatformService.AssemblyInfoInputs.cache
/obj/Debug/net8.0/PlatformService.assets.cache
/obj/Debug/net8.0/PlatformService.csproj.AssemblyReference.cache
/obj/PlatformService.csproj.nuget.dgspec.json
/obj/PlatformService.csproj.nuget.g.props
/obj/PlatformService.csproj.nuget.g.targets
/obj/Debug/net8.0/PlatformService.GeneratedMSBuildEditorConfig.editorconfig
/obj/project.assets.json
/obj/project.nuget.cache
/obj/project.packagespec.json
/.idea/.idea.PlatformService.dir/.idea/projectSettingsUpdater.xml
/obj/rider.project.model.nuget.info
/obj/rider.project.restore.info
/.idea/.idea.PlatformService.dir/.idea/workspace.xml
/obj